#background{
    background: linear-gradient(to bottom, rgba(250,250,251,0), rgba(255,255,255,1)), url("backtwo.jpg");
    background-size: 100%;

}

#contrue{
    padding-top: 15%;
    padding-bottom: 10%;
}

#text{
    text-align: center;
    padding: 30px;
}


.btn {
    border-radius: 15px;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #276abc;

}

#footer {
    padding: 20px;
}

#1h,#2h,#3h {
    color: white;
}